<!DOCTYPE html>
<html>
    <head>
        <title> Person Details</title>
        <meta charset="utf-8"/>
        <link href="~/StyleSheet.css" rel="stylesheet"/>
    </head>
    

    <body>
        <div class="box">
            <div class="page-content">
                <h1>Person Details</h1>
                <h3>@Model.Name</h3>
                <table class="table">
                    <tr>
                        <td>Gender</td>
                        <td>@Model.PersonGender</td>
                    </tr>
                <tr>
                    <td>DateOfBirth</td>
                    <td>@Model.DateofBirth?.ToString("MM/dd/yyyy")</td>
                </tr>
                </table>
            </div>
            <a href="/home"> Back to Person</a>
        </div>
    </body>
</html>