@model PersonResponse
@{
    ViewBag.Title = "Delete Person";
}
<a asp-controller = "Persons" asp-action="Index" class="link-hover">Back to Persons List</a>
<h2> Edit Person </h2>

<div class="center-box">
    <form asp-asp-controller="Persons" asp-action="Delete" method="post">

        <input type="hidden" asp-for="PersonID"/>

        @* Person Name *@
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="PersonName">Person Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="PersonName" class="form-input" disabled />
                <span class="text-red" asp-validation-for="PersonName"></span>
            </div>
        </div>

        @* Email *@
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="Email">Email</label>
            </div>
            <div class="flex-1">
                <input asp-for="Email" type="email" class="form-input" disabled />
                <span class="text-red" asp-validation-for="Email"></span>
            </div>
        </div>

        @* Submit *@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-red-back">Delete</button>
                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>

    </form>
</div>
